ML_tutorial/data/country_vaccinations.csv
DL_tutorial/preprocessed_CTCF_fimo_data/test_data_0/dataset_spec.pb
DL_tutorial/preprocessed_CTCF_fimo_data/test_data_0/snapshot.metadata
DL_tutorial/preprocessed_CTCF_fimo_data/test_data_0/14670484241572214618/00000000.shard/00000000.snapshot
DL_tutorial/preprocessed_CTCF_fimo_data/test_data_0/16901591304276477909/00000000.shard/00000000.snapshot
DL_tutorial/preprocessed_CTCF_fimo_data/train_data_0/dataset_spec.pb
DL_tutorial/preprocessed_CTCF_fimo_data/train_data_0/snapshot.metadata
DL_tutorial/preprocessed_CTCF_fimo_data/train_data_0/13290583979347332150/00000000.shard/00000000.snapshot
DL_tutorial/preprocessed_CTCF_fimo_data/train_data_0/14354887331303890397/00000000.shard/00000000.snapshot
DL_tutorial/preprocessed_CTCF_fimo_data/validation_data_0/dataset_spec.pb
DL_tutorial/preprocessed_CTCF_fimo_data/validation_data_0/snapshot.metadata
DL_tutorial/preprocessed_CTCF_fimo_data/validation_data_0/713178218433574184/00000000.shard/00000000.snapshot
DL_tutorial/preprocessed_CTCF_fimo_data/validation_data_0/7266429743640946994/00000000.shard/00000000.snapshot
